.dlCYkT {
  position: relative;
  padding: 8rem 0px;
  background-image: url("../../resources/images/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.ePRlQL {
  max-width: 128rem;
  padding: 0px 4rem;
  box-sizing: content-box;
  margin: auto;
}
.hwzuHs {
  margin-bottom: 8rem;
}
.eoNSGu {
  font-weight: bold;
  text-align: center;
  font-size: 6rem;
}
.cVAHpO {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.gqFefP {
  flex: 1 1 0%;
}
.dVyhTW {
  max-width: 100%;
  width: 30rem;
  border-radius: 2rem;
}
.jZwZCI {
  flex: 2 1 0%;
  margin: 0px 4rem;
  border: 1px solid lightgrey;
  border-radius: 2rem;
  overflow: hidden;
}
.hotrds {
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  padding-top: 4rem;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: bold;
}
.IRtGk {
  padding: 0px 4rem;
  margin-bottom: 4rem;
}
.bTmvvh {
  font-weight: bold;
}
.fXIZCL:not(:last-child) {
  margin-bottom: 1rem;
}
.hqmTU {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}
.dVyhTW {
  max-width: 100%;
  width: 30rem;
  border-radius: 2rem;
}

.fJKgsh {
  max-width: 100%;
  width: 30rem;
  border-radius: 2rem;
  transform: scaleX(-1);
}
.hqmTU {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}
.jBFUHn {
  text-align: center;
  font-size: 2rem;
  line-height: 5rem;
}

.ipnOFO {
  list-style: none;
}
