.benefit {
  background-image: url("../../resources/images/hero-bg.jpg");
  max-width: 128rem;
  padding: 0px 4rem;
  text-align: center;
  box-sizing: content-box;

  h1 {
    font-size: 20rem;
  }
}
