@import "../../styles/variables.scss";

.club {
  color: black;
}

.container-club {
  max-width: 940px;
  margin: auto;
}
.community-container {
  display: flex;
}
.community-piece {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  align-items: center;
}

.community-piece-text {
  color: #aaa;
  font-size: 20px;
  font-weight: 300;
}
.community-piece-info {
  font-size: 26px;
  font-weight: 600;
}

.club h1 {
  margin-top: 50px;
  font-size: 50px;
}

.newspaper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  font-size: 18px;
}

.partnership {
  background-color: black;
  align-items: center;
  padding: 20px 40px;
  display: flex;
  border-radius: 20px;
  color: white !important;
  position: relative;
  top: 70px;

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  img {
    width: 102px;
  }

  &-main {
    padding-left: 30px;
  }
}

.learn {
  margin-left: auto;
  @include btn-glow;
  width: 190px;
  white-space: nowrap;
  @include btn;
}

@media screen and (max-width: 700px) {
  .community-container {
    flex-direction: column;
  }
  .community-piece {
    margin-top: 20px;
  }
  .club h1 {
    padding: 20px;
    line-height: 1;
  }
  .newspaper {
    flex-direction: column;
    padding: 20px;
    & > div:first-child {
      margin-bottom: 40px;
    }
  }
  .partnership {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    &-main {
      padding: 0;
    }
    img {
      width: 70px;
    }
  }
}
